<!DOCTYPE html>
<html>
<head>



</head>
<body>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Evidence Inquiry : </h3>
        
        
        <form role="form" method="post" name="evidenceForm" id="reused_form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">
                        Case No:</label>
                    <input type="text" class="form-control" id="caseno" name="caseno"  maxlength="50" ng-model="group.caseno">
                </div>
            </div>
             
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs" ng-click="getEvidence(group)">Inquire It! </button>
                </div>
            </div>

        </form>
        
    </div>
</div>




</body>
</html>